@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
:root {
    --primary-clr: #16a085;
    --white-clr: #ffffff;
    --heading-clr: #444444;
    --text-clr: #777777;
    --sec-bg-clr: #F5F5F5;
}
body {
    height: 10000px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.7;
    color: var(--text-clr);
}
.heading {
    padding-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--heading-clr);
    text-shadow: 0.2rem 0.2rem 0 rgb(0 0 0 / 20%);
}
@media screen and (min-width: 768px) {
    .heading {
        font-size: 3rem;
    }
}
.heading span {
    color: var(--primary-clr);
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: transparent;
    border: 2px solid var(--primary-clr);
    border-radius: 0.5rem;
    box-shadow: .3rem .3rem 0 rgba(22, 160, 133, .2);
    text-transform: capitalize;
    color: var(--primary-clr);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
.btn span {
    padding: 0.5rem .7rem;
    border-radius: 0.3rem;
    background-color: var(--primary-clr);
    color: var(--white-clr);
    margin-left: 0.3rem;
    transition: all .3s ease-in-out;
}
.btn:hover span {
    background-color: var(--white-clr);
    color: var(--primary-clr);
    margin-left: .5rem;
}
/* end basic rules */
/* start header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 1.25rem 0;
    background-color: var(--white-clr);
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 1.5rem;
    color: var(--heading-clr);
}
.brand i {
    color: var(--primary-clr);
}
nav input#nav-input {
    display: none;
}
.nav-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 0.4rem;
    background-color: #eee;
    cursor: pointer;
    display: none;
}
.nav-btn::after {
    content: "\f0c9";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--primary-clr);
}
@media screen and (max-width: 992px) {
    .nav-btn {
        display: flex;
    }
}
nav input#nav-input:checked ~ .nav-btn::after {
    content: "\f00d";
}
.nav-links {
    display: flex;
}
@media screen and (max-width: 992px) {
    .nav-links {
        position: absolute;
        top: calc(100% + 1rem);
        right: 1rem;
        width: 16rem;
        padding: 1.25rem;
        flex-direction: column;
        background-color: var(--white-clr);
        border: 2px solid var(--primary-clr);
        border-radius: 0.4rem;
        box-shadow: 0.3rem 0.3rem 0 rgb(22 160 133 / 20%);
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    nav input#nav-input:checked ~ .nav-links {
        transform: scale(1);
        opacity: 1;
    }
}
.nav-links li:not(:last-child) {
    margin-right: 25px;
}
@media screen and (max-width: 992px) {
    .nav-links li:not(:last-child) {
        margin-right: 0;
    }
}
.nav-links li a {
    display: block;
    font-size: 17px;
    color: var(--text-clr);
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 992px) {
    .nav-links li:not(:last-child) a {
        padding-bottom: 1rem;
    }
}
.nav-links li a:hover {
    color: var(--primary-clr);
}
/* end header */
/* start home */
.home {
    margin-top: 75px;
    padding: 5rem 0;
    background-color: var(--sec-bg-clr);
}
.home-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media screen and (min-width: 992px) {
    .home-row {
        flex-direction: row;
    }
}
.home-img, 
.home-text {
    flex: 0 0 50%;
}
@media screen and (min-width: 992px) {
    .home-img, 
    .home-text {
        max-width: 50%;
    }
}
.home-text h2 {
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
    padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
    .home-text h2 {
        font-size: 3rem;
    }
}
.home-text p {
    margin-bottom: .5rem;
}
/* end home */
/* start statistics */
.statistics {
    padding: 5rem 0;
}
.statistics .statistics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 30px;
}
.statistic {
    padding: 1.5rem 2rem;
    border: 2px solid var(--primary-clr);
    border-radius: .25rem;
    text-align: center;
    box-shadow: .3rem .3rem 0 rgba(22, 160, 133, .2);
}
.statistic i {
    font-size: 3rem;
    color: var(--primary-clr);
    margin-bottom: 0.75rem;
}
.statistic h3 {
    font-size: 2.5rem;
    padding-bottom: 0;
}
/* end statistics */
/* start our services */
.our-services {
    padding: 5rem 0;
    background-color: var(--sec-bg-clr);
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.service {
    padding: 1.5rem 2rem;
    border: 2px solid var(--primary-clr);
    border-radius: .25rem;
    box-shadow: .3rem .3rem 0 rgba(22, 160, 133, .2);
}
.service i {
    font-size: 3rem;
    color: var(--primary-clr);
    margin-bottom: 1rem;
}
.service h3 {
    font-size: 1.5rem;
    color: var(--heading-clr);
    margin-bottom: .5rem;
}
/* end our services */
/* start about us */
.about-us {
    padding: 5rem 0;
}
.about-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media screen and (min-width: 992px) {
    .about-row {
        flex-direction: row;
    }
}
.about-img, 
.about-text {
    flex: 0 0 50%;
}
@media screen and (min-width: 992px) {
    .about-img, 
    .about-text {
        max-width: 50%;
    }
}
.about-text h3 {
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.about-text p {
    margin-bottom: .5rem;
}
/* end about us */